* {
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;
background: transparent;
font-family: inherit;
}
a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}

/* End of CSS reset */

#exclusion {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    background-image: url(https://cdn.discordapp.com/attachments/944139864511762503/945622932250570783/exclusion.jpg);
    background-size: cover;
    background-position: center center;
    color: #FFFFFF;
}


.top-elements {
    padding: 5px 10px;
}

.top-elements h4 {
    display: inline-block;   
    margin-left: 12%;
    width: 10%;
    text-align: left;
    line-height: 1.3;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.7em; 
}

.top-elements h1 {
    display: inline-block;
    position: relative;
    left: 64%;
    padding-top: 7px;
    vertical-align: 100%;
    font-size: 30px;
    font-weight: 100;
}

.floater h1 { 
    display: block;
    width: 30%;
    margin-top: 10%;
    margin-left: 12%;
    line-height: 0.9;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100px;
    letter-spacing: 0.1em;
}

.floater p {
    display: block;
    width: 16%;
    margin-top: 10px;
    margin-left: 12%;
    line-height: 1.3;
    text-align: left;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 23px;
}

footer{
    display: flex;
    flex-direction: row;
}

footer #report {
    flex: 1;
    max-width: 70%;
    margin-top: 14%;
    margin-left: 12%;
    font-size: 14px;
    font-weight: 100;
}

footer .socials {
    flex: 1;
    margin-top: 14%;
    margin-left: 50%;
    line-height: 14px;
    font-size: 14px;
    font-weight: 100;
}